:root{
    /*Colores primarios*/
    --Dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /*neutrales*/
    --Dark-gray: hsl(0, 0%, 59%);
}